<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ShopBase</title>
</head>
<body>
<form action="<%= url %>" method="post">
    <% for (var [key, value] of Object.entries(data)) { %>
    <input type="hidden" name="<%= key %>" value="<%= value %>"/>
    <% } %>
    <input type="submit" style="display: none" id="submit">
</form>
<script>
  (function() {
    window.submit.click();
  })();
</script>
</body>
</html>